<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=10.1.125.96; Initial Catalog=Purchase; User Id=sa; Password=Sgmw5050; "/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
